<!DOCTYPE html>
<html ng-app="yamyday">
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/pure-min.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <div>
            <div ng-view></div>
            <div class="loading"></div>
        </div>
        <script type="text/javascript" src="/javascripts/jquery-2.0.3.js"></script>
        <script type="text/javascript" src="javascripts/angular.js"></script>
        <script type="text/javascript" src="javascripts/script.js"></script>
    </body>
</html>