body {
    font: 14px "微軟正黑體", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "LiHei Pro";
    font-weight: normal;
    font-size: 100%;
    margin: 0;
}

p {
    line-height: 1.5em;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.invisible {
    opacity: 0;
}

.hidden {
    display: none;
}

.p10 {
    padding: 10px;
}

html, body, .basic-bg, .pages, .pages, .page {
    height: 100%;
    min-height: 100%;
}

.basic-bg {
    background-image: url('/images/bg.png');
    background-size: auto 100%;
}

.pages {
    position: relative;
    -webkit-transition: opacity 0.5s;
}

.page {
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    left: 20px;
    background-repeat: no-repeat;

    h1 {
        font-size: 200%;
        font-weight: bold;
    }

    h3 {
        font-size: 130%;
    }

    .pure-g, .pure-u-1-2 {
        height: 100%;
    }

    .content {
        margin: 7% auto 6%;
        height: 77%;
        min-height: 77%;
    }
}

@headline-width: 547px;

.headline {
    background-image: url('/images/headline-bg.png');
    background-size: @headline-width auto;
    background-position: 50% 40px;

    span {
        display: inline-block;
        width: 44%;
        vertical-align: top;
        overflow: hidden;
    }

    b {
        width: 4%;
        display: inline-block;
        color: rgb(220, 30, 80);
        vertical-align: top;
    }

    .content {
        width: 500px;
        height: 65%;
        min-height: 65%;
        margin-top: 15%;
    }
}

.headline, .detail {
    p {
        text-align: center;
        height: 60%;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    h1 {
        height: 25%;
        overflow-y: hidden;
    }

    h3 {
        height: 5%;
        overflow-y: hidden;
    }
}

@fullsize-width: 988px;

.one, .two, .three, .detail {
    background-size: @fullsize-width auto;
    background-position: 50% 60px;
    .content {
        width: 950px;
    }
}

.one {
    background-image: url('/images/one-bg.png');
    .pure-u-1-2 {
        overflow-y: scroll;

        &.left p {
            font-size: 150%;
            line-height: 2em;
        }
    }
}

.two {
    background-image: url('/images/two-bg.png');
}

.three {
    background-image: url('/images/three-bg.png');
}

.detail {
    background-image: url('/images/stack-bg.png');
    .pure-u-1-2 {
        overflow-y: scroll;

        &.left p {
            font-size: 150%;
            line-height: 2em;
        }
    }
}

.close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: gray;
    border: 0;
}

.shares {
    h4 {
        line-height: 30px;
        vertical-align: middle;
    }
    h6 {
        line-height: 20px;
        vertical-align: middle;
    }
    p {
        margin: 1em 0.5em;
    }
    img {
        float: left;
        padding-right: 10px;
    }
    li {
        margin: 1em 0;
    }
}

.s-1-2 {
    height: 50%;
}

.s-1-3 {
    height: 33.3%;
}

.section {
    box-sizing: border-box;
    overflow-y: hidden;

    h3 {
        font-size: 150%;
        margin: 5px 0;
    }

    h4 {
        font-size: 130%;
        margin: 5px 0;
    }
}

img {
    .section & {
        max-width: 100%;
        max-height: 70%;
        margin: 10px;
    }
    .layout1 & {
        float: left;
    }
    .layout2 & {
        float: right;
    }
}

// for add-store icon
.left, .section {
    position: relative;
}

.add-store {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    width: 31px;
    height: 35px;
    background-image: url('/images/scissor-icon.png');

    .chooseMode & {
        display: inline-block;
    }

    &.added {
        -webkit-filter: drop-shadow(5px 5px 5px gray);
    }
}

.store {
    position: absolute;
    top: 0;
    right: -1158px;
    bottom: 0;
    width: 1238px;
    height: inherit;
    -webkit-transition: right 1s, background 1s;
    background: transparent;

    &.show {
        z-index: 1;
        right: -55px;
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(3%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5)));
    }
}

.store-content {
    margin-top: 20px;
    position: relative;
    width: inherit;
    height: 713px;
    background-image: url('/images/store-view.png');

    ul {
        padding: 150px 200px 0;
        height: 413px;
        overflow-x: scroll;
    }

    li {
        width: 300px;
        height: 400px;
        display: inline-block;
        vertical-align: middle;
        margin-right: -220px;
        position: relative;
        background-color: gray;
        border: 1px solid black;

        &:hover {
            z-index: 1;
        }
    }

    h4 {
        text-align: center;
        margin: 2em 0.5em;
    }
}

.toggle-store, #prev, #next, #scissor, .section, .store-content li {
    cursor: pointer;
}

.toggle-store {
    width: 80px;
    height: inherit;
    position: absolute;
    left: 0;
    top: 0;
}

.buttons {
    height: 0;
    position: relative;
    width: @fullsize-width;
    margin: 0 auto;

    .layoutHeadline & {
        width: @headline-width;
    }
}

#prev {
    display: inline-block;
    background-image: url('/images/turnL.png');
    width: 122px;
    height: 112px;
    position: absolute;
    bottom: -730px; /* magic num I know... */
    left: 0;

    .layoutThree & {
        bottom: -698px;
    }

    .layoutHeadline & {
        display: none;
    }
}

#next {
    display: inline-block;
    background-image: url('/images/turnR.png');
    width: 122px;
    height: 112px;
    position: absolute;
    bottom: -730px;
    right: 0;

    .layoutHeadline & {
        bottom: -698px;
    }

    .layoutThree & {
        display: none;
    }
}

#scissor {
    position: absolute;
    width: 399px;
    height: 197px;
    left: -200px;
    top: 45%;
    background-image: url('/images/scissor.png');
    -webkit-transition: left 0.25s ease-out, -webkit-transform 0.35s ease-out;

    &:hover {
        left: -120px;
    }
    .chooseMode & {
        -webkit-transform: rotate(180deg);
    }
}
