body {
  font: 14px "微軟正黑體", "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "LiHei Pro";
  font-weight: normal;
  font-size: 100%;
  margin: 0;
}
p {
  line-height: 1.5em;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.invisible {
  opacity: 0;
}
.hidden {
  display: none;
}
.p10 {
  padding: 10px;
}
html,
body,
.basic-bg,
.pages,
.pages,
.page {
  height: 100%;
  min-height: 100%;
}
.basic-bg {
  background-image: url('/images/bg.png');
  background-size: auto 100%;
}
.pages {
  position: relative;
  -webkit-transition: opacity 0.5s;
}
.page {
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  left: 20px;
  background-repeat: no-repeat;
}
.page h1 {
  font-size: 200%;
  font-weight: bold;
}
.page h3 {
  font-size: 130%;
}
.page .pure-g,
.page .pure-u-1-2 {
  height: 100%;
}
.page .content {
  margin: 7% auto 6%;
  height: 77%;
  min-height: 77%;
}
.headline {
  background-image: url('/images/headline-bg.png');
  background-size: 547px auto;
  background-position: 50% 40px;
}
.headline p {
  text-align: center;
  height: 60%;
}
.headline img {
  max-width: 100%;
  max-height: 100%;
}
.headline h1 {
  height: 25%;
  overflow-y: hidden;
}
.headline h3 {
  height: 5%;
  overflow-y: hidden;
}
.headline span {
  display: inline-block;
  width: 44%;
  vertical-align: top;
  overflow: hidden;
}
.headline b {
  width: 4%;
  display: inline-block;
  color: #dc1e50;
  vertical-align: top;
}
.headline .content {
  width: 500px;
  height: 65%;
  min-height: 65%;
  margin-top: 15%;
}
.one,
.two,
.three {
  background-size: 988px auto;
  background-position: 50% 60px;
}
.one .content,
.two .content,
.three .content {
  width: 950px;
}
.one {
  background-image: url('/images/one-bg.png');
}
.one .pure-u-1-2 {
  overflow-y: scroll;
}
.one .pure-u-1-2.left p {
  font-size: 150%;
  line-height: 2em;
}
.two {
  background-image: url('/images/two-bg.png');
}
.three {
  background-image: url('/images/three-bg.png');
}
.shares h4 {
  line-height: 30px;
  vertical-align: middle;
}
.shares h6 {
  line-height: 20px;
  vertical-align: middle;
}
.shares p {
  margin: 1em 0.5em;
}
.shares img {
  float: left;
  padding-right: 10px;
}
.shares li {
  margin: 1em 0;
}
.s-1-2 {
  height: 50%;
}
.s-1-3 {
  height: 33.3%;
}
.section {
  box-sizing: border-box;
  overflow-y: hidden;
}
.section h3 {
  font-size: 150%;
  margin: 5px 0;
}
.section h4 {
  font-size: 130%;
  margin: 5px 0;
}
.section img {
  max-width: 100%;
  max-height: 70%;
  margin: 10px;
}
.layout1 img {
  float: left;
}
.layout2 img {
  float: right;
}
.add-store {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: red;
  -webkit-transition: background 0.5s;
}
.add-store.added {
  background-color: green;
}
.toggle-store {
  width: 50px;
  height: 4%;
  position: absolute;
  right: 0;
  top: 48%;
}
.store {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.store.hidden {
  opacity: 0;
}
.buttons {
  height: 730px;
  /* magic num I know... */

  position: relative;
  width: 988px;
  margin: 0 auto;
}
.layoutHeadline .buttons {
  height: 698px;
  width: 547px;
}
#prev {
  position: absolute;
  bottom: 0px;
  left: 40px;
}
.layoutHeadline #prev {
  display: none;
}
#next {
  position: absolute;
  bottom: 0px;
  right: 40px;
}
.layoutThree #next {
  display: none;
}
